body{margin: 0px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}


#navbar{
    width: 100%;
    height: 72px;
    color: whitesmoke;
   
    background-color: #00253c;
    border-top: #00b1ff solid;
    display: flex;
    }
        #navbar >div{
        width: 80%;
        height: 80%;
        margin: auto;    border: 1px solid #00253c;
        display: flex;
         }
         
        #navbar >div >div{
        height: auto;
        width: auto;
        margin-top: auto;
        display: flex;
        }
        #MoreTravel{
        margin-top: -55px;
        font-size: 16px;
        background-color: #00253c;border: 1px solid #00253c;
        color: white;
        padding-left: 20px;
        }
   
   #nav_2box{
    margin-left: 40%;
   }
    #nav_2box div{
    font-size: 14px;
    
    margin-left: 30px;
    margin-bottom: 20px;
    }
   

       #navbar img{
       margin-top: -45px;
       width: 169px;
       height: 32px;
       padding-top: 5px;
        }
    
    #MoreTravel:hover{color: rgb(83, 83, 233);}
    #MoreTravel option:hover{color: rgb(83, 83, 233);}
    #nav_2box div:hover{color: rgb(83, 83, 233);}

    /* HEADER */

    #background
    {
        height: 400px ;
        width:100%;
       background-image: url("https://image.shutterstock.com/image-photo/beautiful-tropical-beach-white-sand-600w-1578643429.jpg");
    }
    #background > div
    {
        width: 80%;
        height: 300px;
        background-color: #f0f8ff;
         margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: auto;
        position: relative;
    }  
        
    #background > div >div
    {
       
       width: 96%;
       height: 90%;
       margin: auto;
       margin-top: 10px;
       
     
    }
    #background > div >div div{
        margin-bottom: 30px;
    }

    #facility
    {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        width: 500px;
        font-size: large;
        margin: auto; 
    }

    #facility p{
        color:black;
    }
    #form
    {
        display: flex;
        height: 35%;
        width: 85%;
        margin: auto;
        color:black;
     
    }
    #form > div:nth-child(1)
    {
        height: 80%;
        width: 50%;
        background-color: #f0f8ff;
        border-color: black;
        margin: auto;

    }
    #form > div:nth-child(2)
    {
        height: 80%;
        width: 20%;
        background-color: aliceblue;
        margin: auto;
    }
    #form > div:nth-child(2) p, #form > div:nth-child(3) p{
        margin: -30px 0px 0px 0px;
        color:black;
    }
    #form > div:nth-child(3)
    {
        height: 80%;
        width: 20%;
        background-color: aliceblue;
        margin: auto;
    }
    #form > div:nth-child(4)
    {
        height: 80%;
        width: 25%;
        background-color: aliceblue;
        color:black;
        margin: auto;
        margin-top: -48px;
    }
    #form > div:nth-child(4) p{
        color:black;
    }
    #goingto
    {
        font-size: 14px;
        margin-top:-80px;
        height: 35%;
        width:90%;
        border: 1px solid aliceblue;
    }
    #travelersdropdown
    {
        height: auto;
        width: auto;
        background-color: yellow;
        display: none;
    }
    #background >div >div>div:nth-child(3)  
    {
        display: flex;
        height:20%;
        width: 40%;
        margin: left;
        margin-left: 10%;
}
#background >div >div>div:nth-child(3) div{
     display: flex;
     height: 100%;
     width: 40%;
} 
#form4c1, #form4c2
{
margin-top:-65px;
}
#background >div >div>div:nth-child(3) p{

    margin-top: -65px;
    color:black;
   
}

#background >div >div>div:nth-child(4) 
{
    background-color: black;
    margin: auto;
    margin-top: -140px;
    width: 15%;
   
}
#background >div >div>div:nth-child(4) button
{
    height: 100%;
    width: 100%;
    background-color: #c83259;
    line-height: 40px;
    font-size: 20px;
    color:white;
    border: 0px;
    padding: 0px 40px;
}

/* 1st div */

#container {
    display: grid;
    width: 100%;
    height: 900px;
    gap: 3px;
}

.div1 {
    display: flex;
    margin: auto;
    height: 170px;
    width: 75%;
}

.div1>div {
    display: grid;
    margin: auto;
    width: auto;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px;
}

.div1_img {
    height: 100px;
    width: 300px;
}

.div2 {
    padding: 12px;
    width: 70%;
    margin: auto;
    margin-top:-50px;
}

.offers {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
}

.offersSubdiv {
    padding: 24px;
    padding-top: 60px;
    box-sizing: border-box;
    
}

.offers>.offersSubdiv:nth-child(1) {
    height: 150px;
    width: 220px;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&amp;w=900&amp;h=600&amp;q=mediumHigh");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.offers>.offersSubdiv:nth-child(2) {
    height: 150px;
    width: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&amp;w=900&amp;h=600&amp;q=mediumHigh");
}

.offers>.offersSubdiv:nth-child(3) {
    height: 150px;
    width: 220px;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&amp;w=900&amp;h=600&amp;q=mediumHigh");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.offers>.offersSubdiv:nth-child(4) {
    height: 150px;
    width: 220px;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&amp;w=900&amp;h=600&amp;q=mediumHigh");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.offersSubdiv>.textDiv>h4 {
    color: white;
}

.offersSubdiv>.textDiv>p {
    color: white;
}

.div3 {
    
    display: flex;
    margin: auto;
    height: 300px;
    width: 70%;
    gap: 10px;
    justify-content:space-between;

}

.div3_inner1>div {
    height: 350px;
    width: 600px;
    

}

.div3_inner1>div>img {
    height: 170px;
    width: 650px;
}
.div_beach{
    margin:auto;
}

.div3_inner2 {
    display: grid;
    /* margin: auto; */
    width: 300px;
    height: 250px;
    gap: 5px;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(215px);
}

.div3_inner2div {
    display: flex;
    width: 300px;
    height: 121px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(177, 176, 176); */

}

.div3_inner2div>img {
    height: 121px;
    width: 100px;
}

.div3_inner2div>div {
    margin: 0px 10px 10px 0px;
    line-height: 0.8em;
    margin-left: 20px;
}
p{
    font-size:13px;
    color:rgb(177, 176, 176);
}

.div4 {
    
    display: flex;
    margin: auto;
    height: 250px;
    width: 80%;
}

.div4_inner1 {
    width: 700px;
    height: 200px;
    justify-content: space-between;
}
.div4_inner1>img{
    width: 750px;
    height: 200px;
}

.div4_inner2 {
    display: flex;
    margin: auto;
    width: 230px;
    height: 220px;
    background-image: url("https://s0.2mdn.net/8563344/BMOT-ExpediaBannerAds-300x250.jpeg");
}

/* 2nd div */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#midFirstContainer {
    padding: 12px;
    width: 80%;
    margin: auto;
}

#midFirstContainer>h2 {
    font-size: 28px;
}

#operateTrip {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
}

#operateSubDiv {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 12px;
    height: 100px;
    width: 370px;
}

#operateSubDiv>.textDiv>p {
    font-size: 14px;
}

#operateSubDiv>.imgDiv>.imagePlaceholder {
    width: 24px;
    aspect-ratio: 1/1;
    color: black;
}

#midSecondContainer {
    padding: 12px;
    width: 80%;
    margin: auto;
}

#midSecondContainer>h2 {
    font-size: 28px;
}

#tips {
    display: flex;
    margin-top: -10px;
    justify-content: space-between;
}

#tipsSubDiv {
    padding: 24px;
    padding-top: 60px !important;
    box-sizing: border-box;
}

#tips>#tipsSubDiv:first-child {
    width: 590px;
    height: 280px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Mount_Gould_from_Grinnell_Glacier_Trail_2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#tips>#tipsSubDiv:nth-child(2) {
    width: 590px;
    height: 280px;
    background-image: url("https://www.theclimategroup.org/sites/default/files/styles/hero_header/public/2020-10/pacific-coast-highway-highway-1-at-southern-end-of-big-sur-california_37835943186_o.jpg?itok=_CGkF2p1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#tipsSubDiv>#textDiv>h2 {
    font-size: 22px;
    color: white;
}

#tipsSubDiv>#textDiv>p {
    font-size: 16px;
    color: white;
}

#tipsSubDiv>#textDiv>button {
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    color: teal;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}

#tipsSubDiv>#textDiv>button:hover {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: teal;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}

#midThirdContainer {
    padding: 12px;
    width: 80%;
    margin: auto;
}

#selectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 20px;
    margin: auto;
}

#selectGrid>select {
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
}

/* footer */

.one{
    height:450px;
    width:95%;
    margin:auto;
    background-color: #f5f5f5;
    display:flex;
}
.two{
    height:350px;
    width:20%;
    margin:auto;
    color:#6bafcd;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

img{
    height:20px;
    width:70%;
    margin:10px 0px 0px 20px;
}
.three{
    height:100px;
    width:95%;
    margin:auto;
    text-align:center;
    font-size:12px;
}